div {
    width: 200px;
    height: 200px;
    /* rgb (red, green, blue)
    rgb(0-255, 0-255, 0-255) */
    /* background-color: rgb(45, 67, 130); */
    background-color: #fa1b90;
    border: 4px solid blue;
    margin-bottom: 10px;
    padding: 15px;

    background: linear-gradient(to right, #ff0000, #cad438, #177b99 , #df9816,  #07db71,  #40daee);

    border-width: 4px, 8px;
    border-style: dotted double;
    border-color: rgb(58, 28, 190);
    border-radius: 14px;
}


#div2 {
    width: 200px;
    height: 200px;
    /* Opacity = 0-1 */
    background-color: rgba(45, 67, 130, 0.8);
}